/* https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

:root {
  --palette-white: #ffffff;
  --palette-black: #000000;

  --palette-neutral-100: #fbfbfc;
  --palette-neutral-200: #F7F7FA;
  --palette-neutral-300: #EFEFF4;
  --palette-neutral-400: #E1E1EB;
  --palette-neutral-500: #CACADC;
  --palette-neutral-700: #6F6F95;
  --palette-neutral-800: #3D3D5C;
  --palette-neutral-900: #191929;

  --palette-primary-100: #E2F1FD;
  --palette-primary-200: #65CBFE;
  --palette-primary-300: #2DAFEF;
  --palette-primary-400: #0852B3;

  --palette-accent-blue-100: #E1ECFD;
  --palette-accent-blue-200: #3B82F6;
  --palette-accent-blue-300: #005BF0;

  --palette-accent-purple-100: #EBE3FD;
  --palette-accent-purple-200: #8B5CF6;
  --palette-accent-purple-300: #6B2AFF;

  --palette-accent-green-100: #E2FDF4;
  --palette-accent-green-200: #10B981;
  --palette-accent-green-300: #008459;
}

:root {
  /* System UI Font Stack */
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --inter: 'Inter Variable', 'Inter', sans-serif;

  /* NAMING font-size-16 == 16px == 1rem */
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;

  --text-box-width-40: 40ch;
  --text-box-width-60: 60ch;

  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-36: 2.25rem;
  --space-52: 3.25rem;
  --space-72: 4.5rem;

  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-full: 9999px;

  --color-bg-app: var(--palette-neutral-200);
  --color-bg-surface: var(--palette-white);
  --color-bg-surface-hover: var(--palette-neutral-200);

  --color-border: var(--palette-neutral-400);

  --color-text: var(--palette-neutral-900);
  --color-text-light: var(--palette-neutral-700);

  --color-brand-light: var(--palette-primary-100);
  --color-brand-base: var(--palette-primary-200);
  --color-brand-hover: var(--palette-primary-300);
  --color-brand-on: var(--palette-primary-400);

  --ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
  --transition-color: background-color 0.2s var(--ease-in-sine);
}

body {
  font-family: var(--inter);
  background-color: var(--color-bg-app);
}

p,
h1,
h2,
h3 {
  color: var(--color-text);
}

h1 {
  line-height: 1.2;
  font-size: var(--font-size-24);
  font-weight: 700;
}

h1.small {
  font-size: var(--font-size-20);
}

h2 {
  line-height: 1.2;
  font-size: var(--font-size-20);
  font-weight: 700;
}

h3 {
  line-height: 1.2;
  font-size: var(--font-size-16);
  font-weight: 700;
}

p,
a {
  line-height: 1.5;
  font-size: var(--font-size-16);
  font-weight: 400;
}

p.light,
a.light {
  color: var(--color-text-light);
}

p.caption {
  line-height: 1.4;
  font-size: var(--font-size-14);
  font-weight: 400;
  color: var(--color-text-light);
}